* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
/* Nav Section */
.container-fluid {
  background-color: grey;
  text-align: center;
}

#navbarNav {
  flex: none;
}

.navbar a {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
  font-size: 25px;
}

.navbar-nav .nav-link {
  color: white;
}

.nav-link :active {
  color: white;
}

/* Jumbrotron section */

.jumbotron {
  border: 5px solid grey;
  padding: 5px;
  margin: 0;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.display-4 {
  font-style: italic;
}

.jumbotron h1 {
  color: white;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 25px;
}

.jumbotron p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: start;
  color: white;
}

/* Projects Section */

.row h2 {
  padding-bottom: 2%;
}

.subtitle {
  padding-top: 3%;
}

.subtitle h2 {
  padding-bottom: 2%;
}
.projects {
  padding-bottom: 2%;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.col-4 .card {
  width: 250px;
  margin: 0 auto;
}

.card {
  background-color: grey;
}

.col-2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.portfolio-pic {
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.portfolio-pic:hover {
  opacity: 0.7;
}

.marketing-pic {
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.marketing-pic:hover {
  opacity: 0.7;
}

/* Footer Section */
.footer {
  margin-top: 100px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div {
  text-align: center;
}

.col-2 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

/* RESPONSIVE FOR IPHONE */

@media only screen and (max-width: 428px) and (max-height: 926px) {
  body {
    font-size: 14px;
  }
}
