* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  max-width: 1440px;
} */

/* Nav Section */
.container-fluid {
  background-color: grey;
}

#navbarNav {
  flex: none;
}

.navbar a {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
  font-size: 25px;
}

.navbar-nav .nav-link {
  color: white;
}

.nav-link :active {
  color: white;
}

/* Jumbrotron section */

.jumbotron {
  border: 5px solid grey;
  padding: 5px;
  margin: 0;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
}

.display-4 {
  font-style: italic;
}

.jumbotron h1 {
  color: white;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 25px;
}

.jumbotron pre {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: start;
  color: white;
}

.lead {
  text-align: start;
}

.coding-pic {
  width: 500px;
  height: auto;
  position: absolute;
  top: 100px;
  left: 900px;
  padding-top: 100px;
}

/* Skills Section */

.row-1 h2 {
  padding-bottom: 2%;
  padding-right: 4%;
}

.skills-section {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 0%;
  padding-left: 5%;
}

img.card-img-top {
  border-radius: 30%;
}

div.card {
  border: 0;
  display: flex;
}

/* Projects Section */

.container {
  padding-top: 5%;
}

.projects {
  padding-bottom: 2%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.row h2 {
  padding-top: 2%;
  padding-bottom: 3%;
  padding-right: 10%;
}

.col-2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.portfolio-pic {
  width: 100%;
}

.marketing-pic {
  width: 100%;
}

/* Footer Section */
.footer {
  margin-top: 100px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div {
  text-align: center;
}

.col-2 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
